{% extends "base.html.j2" %}

{% block body %}
<p id="title">Soundvase</p>
<div id="box">
    <div id="insidebox">
        <form action="." method="POST"> <!--this is a post method form-->
            <div class="center"> <!--for formatting-->
                <a href="." class="textbox">Logging Out...</a> <!--simple logging out page, also link to main page if redirect doesn't work-->
            </div>
        </form>
    </div>
</div>
{% endblock %}