{% extends "base.html.j2" %}

{% block body %}
<p id="title">Soundvase</p>
<div id="box">
    <div id="insidebox">
        <form action="." method="POST">
            <div class="center">
                <input type="email" placeholder="Email" name="name" class="textbox"/>
            </div>
            <div class="center">
                <input type="password" placeholder="Password" name="password" class="textbox"/>
            </div>
            <div class="center">
                <button type="submit" name="log in" value="Wrong Password" class="login button">Wrong password</button> <!--this is the only difference in this template, just the text for the submit button-->
            </div>
            <div class="center">
                <button type="submit" name="guest" value="Continue as Guest" class="button">Continue as guest</button> <!--submit button, name telling the server it is to log in-->
            </div>
        </form>
    </div>
</div>
{% endblock %}